.event-schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;

  width: 410px;
  height: 720px;
  border-radius: 6%;
  margin-top: 128px;

  background-color: #e4e4e4;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.15);

  transition: all 0.5s;
}
.close-event {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  border: none;
  background-color: #d42c2c9f;

  font-size: 22px;
  color: white;

  transition: 0.2s;
}
.event-schedule .close-event:hover {
  background-color: #d42c2c;
}

.schedule-container {
  display: flex;
  flex-grow: 5;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;

  width: 100%;
  height: 400px;
  padding-left: 0;

  list-style: none;

  transition: opacity 0.3s;
}

.schedule-container li {
  display: flex;
  align-items: center;
  padding-left: 15px;
  overflow: hidden;

  border-bottom: 2px solid #2cb943;
}

.schedule-container li:first-child {
  border-top: 2px solid #2cb943;
}

.schedule-container li span {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 10px;
  padding-right: 20px;

  line-height: 43px;
  width: 60px;

  border-right: 2px solid #2cb943;
}

.create-event {
  align-self: center;
  margin-bottom: 15px;

  border: none;

  font-size: 20px;
  background-color: #2cb943;
  color: white;
}

.create-event:hover,
input[type='submit']:hover {
  background-color: #31c74a;
}

.create-event:active,
input[type='submit']:active {
  transform: scale(0.98);
}

form {
  width: 410px;
  height: 200px;
  display: none;
}

input[type='submit'],
input[type='time'],
textarea {
  display: block;
  margin-left: 10px;
  margin-bottom: 5px;
}

input[type='submit'] {
  margin: 0px auto 15px;

  border: none;

  font-size: 20px;
  background-color: #2cb943;
  color: white;
}

textarea {
  width: 300px;
  height: 120px;
  border: 2px solid #2cb943;
  outline: 0;

  font-size: 16px;

  transition: all 0.3s;
}

input[type='time'] {
  border: 2px solid #2cb943;
}
